.block-soneritics-kiyoh-reviews-heading {
  margin-top: 30px;
}

#soneritics_kiyoh_reviews {
  .stars {
    color: #00b900;
  }

  .fa-plus-circle {
    color: #00b900;
  }

  .fa-minus-circle {
    color: #e50000;
  }

  .row-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .placed-by {

  }

  .placed-at {
    color: silver;
  }
}
