#soneritics_kiyoh_reviews {
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .kiyoh-logo {
    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  .divider {
    border-color: #000;
  }

  .stars {
    color: #00b900;
  }

  .fa-plus-circle {
    color: #00b900;
  }

  .fa-minus-circle {
    color: #e50000;
  }

  .row-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .placed-by {

  }

  .placed-at {
    color: silver;
  }

  .rating-holder {

  }

  .rating {
    color: #00b900;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    margin-right: 5px;
  }

  .total-reviews {
    color: silver;
  }
}
